derivative-by-vendor/vionx-proprietary/Purification/web/ppcJs/schemas/movingWindowChartTemplateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metaType" type="xs:string" />
        <xs:element name="rowid">
          <xs:complexType>
            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="hint" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="timestamp">
          <xs:complexType>
            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="hint" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="num_points">
          <xs:complexType>
            <xs:attribute name="hint" type="xs:string" use="required" />
            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="series">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="index" type="xs:unsignedByte" use="required" />
                      <xs:attribute name="type" type="xs:string" use="required" />
                      <xs:attribute name="hint" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>