derivative-by-vendor/vionx-proprietary/Purification/web/ppcJs/schemas/movingWindowChartDataSamplesResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timestamp" type="xs:unsignedLong" />
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="d" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>