derivative-by-vendor/vionx-proprietary/Purification/web/ppcJs/schemas/systemSummaryDataResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="systemSummaryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="resource">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mode" type="xs:unsignedByte" />
              <xs:element name="dat1" type="xs:decimal" />
              <xs:element name="dat2" type="xs:string" />
              <xs:element name="pwrDir" type="xs:unsignedByte" />
              <xs:element name="err" type="xs:unsignedByte" />
              <xs:element name="auto" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="lock" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="timestamp" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>